@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --main-background-color: #E4EAFF;
  --main-black-color: #071013;
  --main-red-color: #E3170A;
  --main-white-color: #EDEDED;
  --main-func-color: #33357D;
  --sec-func-color: #7D3333;
  --main-green-color: #12E382;
  --main-yellow-color: #EBEB28;
  --main-blue-color: #3286F3;
  --light-gray-color: #6A6A6A;

  /* Cores do calendário */
  --light-blue-color: #0075F2;
  --main-orange-color: #CC3F0C;
  --dark-blue-color: #004690;
  --dark-green-color: #1B995A;
  --main-red-color: #E3170A;

  /* Cores do botão de solicitação */
  --main-gray-color: #BCC6E9;
  --main-button-text: #3F4E82;

  /* Cores dos botões de ajuste de ponto */
  --btn-blue: #0CA2FF;
  --btn-red: #DB0A0A;
  --gray-line: #C9C9C9;

  /* Admin notification */
  --notification-admin-color: #EADDDD;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* Estilos padrões */
body {
  font-family: "Inter", sans-serif;
  color: var(--main-black-color);
  background-color: var(--main-background-color);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

input {
  display: block;
}

.input-col, select, textarea {
  display: block;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) , 0px 4px 6px -2px rgba(0,0,0,0.05);
  padding: 10px 8px;
  border-radius: .5rem;
}

/* Cores de background */
.main-background-color {
  background-color: var(--main-background-color);
}

.main-func-color {
  background-color: var(--main-func-color);
}

.sec-func-color {
  background-color: var(--sec-func-color);
}

.main-green-color {
  background-color: var(--main-green-color);
}

.main-blue-color {
  background-color: var(--main-blue-color);
}

.main-yellow-color {
  background-color: var(--main-yellow-color);
}

.main-red-color {
  background-color: var(--main-red-color);
}

.main-white-color {
  background-color: var(--main-white-color);
}

.light-blue-color {
  background-color: var(--light-blue-color);
}

.main-orange-color {
  background-color: var(--main-orange-color);
}

.dark-blue-color {
  background-color: var(--dark-blue-color);
}

.dark-green-color {
  background-color: var(--dark-green-color);
}

.main-gray-color {
  background-color: var(--main-gray-color);
}

.light-gray-color {
  background-color: var(--light-gray-color);
}

.btn-blue-color {
  background-color: var(--btn-blue);
}

.btn-red-color {
  background-color: var(--btn-red);
}

.gray-line-color {
  background-color: var(--gray-line);
}

.main-black-color {
  background-color: var(--main-black-color);
}

.notification-admin-color {
  background-color: var(--notification-admin-color);
}

/* Cores de texto */
.main-white-text {
  color: var(--main-white-color);
}

.main-black-text {
  color: var(--main-black-color);
}

.main-red-text {
  color: var(--main-red-color);
}

.main-blue-text {
  color: var(--main-blue-color);
}

.main-green-text {
  color: var(--main-green-color);
}

.main-yellow-text {
  color: var(--main-yellow-color);
}

.main-orange-text {
  color: var(--main-orange-color);
}

.main-gray-text {
  color: var(--main-gray-color);
}

.sec-func-color-text {
  color: var(--sec-func-color);
}

.main-func-color-text {
  color: var(--main-func-color);
}

.light-blue-text {
  color: var(--light-blue-color);
}

.dark-blue-text {
  color: var(--dark-blue-color);
}

.dark-green-text {
  color: var(--dark-green-color);
}

.main-button-text {
  color: var(--main-button-text);
}

.light-gray-text {
  color: var(--light-gray-color);
}

.quicksand {
  font-family: "Quicksand", sans-serif; 
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}