@import "tailwindcss";

:root {
  --main-background-color: #E4EAFF;
  --main-black-color: #071013;
  --main-red-color: #E3170A;
  --main-white-color: #EDEDED;
  --main-func-color: #33357D;
  --sec-func-color: #7D3333;
  --main-green-color: #12E382;
  --main-yellow-color: #EBEB28;
  --main-blue-color: #3286F3;
  --light-gray-color: #6A6A6A;

  /* Cores do calendário */
  --light-blue-color: #0075F2;
  --main-orange-color: #CC3F0C;
  --dark-blue-color: #004690;
  --dark-green-color: #1B995A;
  --main-red-color: #E3170A;

  /* Cores do botão de solicitação */
  --main-gray-color: #BCC6E9;
  --main-button-text: #3F4E82;

  /* Cores dos botões de ajuste de ponto */
  --btn-blue: #0CA2FF;
  --btn-red: #DB0A0A;
  --gray-line: #C9C9C9;
}

/* Estilos padrões */
body {
  font-family: "Inter", sans-serif;
  color: var(--main-black-color);
  background-color: var(--main-background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

input {
  display: block;
}

/* Cores de background */
.main-background-color {
  background-color: var(--main-background-color);
}

.main-func-color {
  background-color: var(--main-func-color);
}

.sec-func-color {
  background-color: var(--sec-func-color);
}

.main-green-color {
  background-color: var(--main-green-color);
}

.main-blue-color {
  background-color: var(--main-blue-color);
}

.main-yellow-color {
  background-color: var(--main-yellow-color);
}

.main-red-color {
  background-color: var(--main-red-color);
}

.main-white-color {
  background-color: var(--main-white-color);
}

.light-blue-color {
  background-color: var(--light-blue-color);
}

.main-orange-color {
  background-color: var(--main-orange-color);
}

.dark-blue-color {
  background-color: var(--dark-blue-color);
}

.dark-green-color {
  background-color: var(--dark-green-color);
}

.main-gray-color {
  background-color: var(--main-gray-color);
}

.light-gray-color {
  background-color: var(--light-gray-color);
}

.btn-blue-color {
  background-color: var(--btn-blue);
}

.btn-red-color {
  background-color: var(--btn-red);
}

.gray-line-color {
  background-color: var(--gray-line);
}

/* Cores de texto */
.main-white-text {
  color: var(--main-white-color);
}

.main-black-text {
  color: var(--main-black-color);
}

.main-red-text {
  color: var(--main-red-color);
}

.main-blue-text {
  color: var(--main-blue-color);
}

.main-green-text {
  color: var(--main-green-color);
}

.main-yellow-text {
  color: var(--main-yellow-color);
}

.main-orange-text {
  color: var(--main-orange-color);
}

.main-gray-text {
  color: var(--main-gray-color);
}

.sec-func-color-text {
  color: var(--sec-func-color);
}

.main-func-color-text {
  color: var(--main-func-color);
}

.light-blue-text {
  color: var(--light-blue-color);
}

.dark-blue-text {
  color: var(--dark-blue-color);
}

.dark-green-text {
  color: var(--dark-green-color);
}

.main-button-text {
  color: var(--main-button-text);
}

.light-gray-text {
  color: var(--light-gray-color);
}

.quicksand {
  font-family: "Quicksand", sans-serif; 
}