@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --main-background-color: #E4EAFF;
  --main-black-color: #071013;
  --main-red-color: #E3170A;
  --main-white-color: #EDEDED;
  --main-func-color: #33357D;
  --main-green-color: #12E382;
  --main-yellow-color: #EBEB28;
  --main-blue-color: #3286F3;

  /* Cores do calendário */
  --light-blue-color: #0075F2;
  --main-orange-color: #CC3F0C;
  --dark-blue-color: #004690;
  --dark-green-color: #1B995A;
  --main-red-color: #E3170A;

  /* Cores do botão de solicitação */
  --main-gray-color: #BCC6E9;
  --main-button-text: #3F4E82;
}

/* Estilos padrões */
body {
  font-family: "Inter", sans-serif;
  color: var(--main-black-color);
  background-color: var(--main-background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

input {
  display: block;
}

/* Cores */
.main-func-color {
  background-color: var(--main-func-color);
}

.main-white-text {
  color: var(--main-white-color);
}